.Terminal {
    background-color: #000;
    color: #292;

    width: 1280px;
    height: 720px;

    margin: 0 auto;
    padding: 0.25em 0.5em;

    font-family: monospace;
    font-size: 1.75em;
    font-weight: bold;

    border-radius: 0.7em;
}

.Terminal p {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

.Terminal-Cursor {
    background-color: #666;
}

.Terminal-Visual-Mode {
    background-color: #800;
}
